@import './reset.css';

html,
body,
header {
  background-color: rgb(18, 18, 22);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

h1 {
  font-size: 4.5rem;
}

.text-gradient {
  background: linear-gradient(179deg, #cb85ea, #a2d5fb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section,
nav,
.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  box-shadow: rgba(83, 37, 89, 0.08) 0px 8px 8px 0;
}

/* header,
.content-wrapper {
  background-color: rgb(18, 18, 22);
} */

nav,
.content-wrapper {
  padding: 0 40px;
  max-width: 1300px;
  margin: auto;
}

/* spacing */
#home {
  height: 100dvh;
}

/* text */

/* links */

.nav-menu a {
  padding: 0 10px;
}

a {
  color: #73c0f9;
}

a:hover {
  color: #cb85ea;
}

.jump-link {
  display: block;
  text-decoration: none;
}

.social-icon svg {
  max-width: 30px;
}
