@import './reset.css';
@import './variables.css';

/* variables */

/* main */

html,
body,
header {
  background-color: #020202;
}

section,
nav,
footer,
.nav-menu,
.project,
.social-icons {
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  box-shadow: rgba(83, 37, 89, 0.08) 0px 8px 8px 0;
}

nav,
footer,
.content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1300px;
  margin: auto;
}

footer,
section:not(:first-child) {
  padding-top: 40px;
}

footer {
  padding-bottom: 40px;
}

#home {
  height: 100dvh;
  padding-top: 60px;
}

.project {
  padding: 30px 0;
  align-items: center;
}

.project img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  border-radius: 100%;
}

/* text */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

p,
a {
  font-weight: 600;
}

h1,
h2,
h3,
a,
.text-gradient {
  background: var(--gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

a:hover {
  background: var(--gradient-reverse);
  background-clip: text;
  -webkit-background-clip: text;
}

h1 {
  font-size: 3rem;
  margin-left: -3px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h2.intro:before {
  display: block;
  position: relative;
  content: '';
  height: 5px;
  width: 30%;
  top: -10px;
  left: 1px;
  background: var(--gradient-reverse);
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

/* links */

ul.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.nav-menu a {
  padding: 0 10px;
  font-size: 1.25rem;
}

a.menu-link {
  display: block;
  text-decoration: none;
}

a.text-link {
  display: inline-block;
  position: relative;
}

a.text-link:after {
  display: block;
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 2px;
  left: 0;
  background: var(--gradient);
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

a.text-link:hover:after {
  background: var(--gradient-reverse);
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.social-icon {
  padding: 0 20px;
}

.social-icon a {
  width: 50px;
  height: 50px;
}

.social-icon a .hover-svg {
  display: none;
}

.social-icon a:hover .hover-svg {
  display: block;
}

.social-icon a:hover .default-svg {
  display: none;
}

/* media queries */

@media only screen and (min-width: 768px) {
  nav,
  footer,
  .content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1300px;
    margin: auto;
  }

  footer,
  section:not(:first-child) {
    padding-top: 80px;
  }

  .project {
    padding: 30px 0;
  }

  .project:nth-of-type(even) .img-container {
    order: 2;
  }

  .project:nth-of-type(even) .txt-container {
    order: 1;
  }

  h1 {
    font-size: 5.5rem;
    margin-left: -4px;
  }

  h2:not(.intro) {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}
